@font-face {
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}
a#cWpp{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: red;  
    text-shadow: 1px 1px 1px rgb(0,0,0,.6);
}

a#cTelegram{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: red;
    text-shadow: 1px 1px 1px rgb(0,0,0,.6);   
    
}


img#wpp{
    position: absolute;
    left: 720px;
    top: 580px;
    width: 2%;
   height: 5%;
  
 
}

img#telegram {
    position: absolute;
    left: 720px;
    top: 669px;
    width: 2%;
   height: 4%; 
}